html, body{
	margin-left:15px; margin-right:15px;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
}

th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #0091EA;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;
}

tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}

#wrapper {width: 100%; margin-top: 0; }
#header {width: 70%; margin-top: 0; padding:15px 0 15px 15px;}
#header h2 {width: 100%; margin:auto; color: black}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}

.add-button {
	border: 1px solid #666;
	border-radius: 5px;
	font-size: 12px;
	font-weight: bold;
	width: 120px;
	padding: 5px 10px;
	margin-bottom: 15px;
	background: #cccccc;
}